.hd{
    background-color: black;
    height: 50px;
    display: flex;
    align-items: center;
}
.hd-text{
    color: gray;
    padding-left: 60px;
}
.main{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main-text{
    margin-top: 50px;
    padding-right: 750px;
}
.top-text{
    font-family: ;
    color: gray;
    font-size: 20px;
}
.input-fill{
    height: 40px;
    border-radius: 4px;
    font-size: 15px;
    width: 630px;
    padding-left: 20px;
    font-family: Arial, Helvetica, sans-serif;
    border-color: gray;
}
.add-btn{
    width: 70px;
    height: 47px;
    border: none;
    border-radius: 4px;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    background-color: blue;
    margin-left: 40px;
}
.add-btn:active{
    background-color: rgb(97, 100, 255);
}
.tasks{
    margin: 50px 0px 0px 0px;
    width: 900px;
    
}

.task{
	height: 20px;
	border: 1px solid #dbdbdb;
	padding: 25px;	
	border-radius: 7px;
    margin-top: 10px;
}

.task-checkbox{
    -webkit-appearance: none;
	border: 1px solid #cacece;
	padding: 8px;
	margin: 0px 30px 0px 0px;
	position: relative;
	float: left;
}
.task-checkbox:checked{
    background-color: #e28052;
	border: 1px solid;
}

.task-checkbox:checked::after{
    content: "\2714";
	position: absolute;
	top: 0px;
	left: 3px;
	color: white;
}

.task-checkbox:checked + span{
    text-decoration: line-through;
}

.delete-img{
    height: 20px;
	float: right;
}